:root {
    font-size: 2em;
}
/*___________________
steps to add every context at the center of the page
_____________*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(237, 177, 194);
    font-family: 'Times New Roman', Times, serif;
}

.title {
    text-align: center;
}

h1 {
    color:rgb(45, 77, 133)
}

h2 {
    color: rgb(57, 86, 139);
}

nav {
    margin: 20px 0;
}

nav a {
    text-decoration:underline;
    color: rgb(99, 112, 161);
}

nav a:hover {
    background-color: rgb(234, 72, 112);
    color: rgb(236, 235, 226);
}