:root {
    font-size: 2em;
}
/*_____________
Background color
_______________*/
body {
    background-color: rgb(238, 237, 217);
}
/*____________
Header style
_______________*/
header {
    background-color: #5a9e98;
    color: rgb(9, 29, 23);
    padding: 20px 0;
    text-align: center;
}

header {
    padding: 20px 0;
}

h2 {
    background-color: #5a9e98;
    color:rgb(238, 237, 217);
    padding: 15px;
    width: fit-content;
}

p {
    background-color: #a5b5b4;
    color:rgb(41, 56, 58);
    padding: 20px 0;
    text-align: center;
}

h3 {
    background-color: #5a9e98;
    color:rgb(238, 237, 217);
    text-align: left;
    width: fit-content;
    padding: 20px 0;
}

img {
    border: 4px rgb(52, 92, 88);
  border-style: groove;
  box-shadow: 2px 3px 4px rgb(122, 150, 147);
  padding: 2px;
}